<h2>Ingrese el nombre del jugador </h2>

<form method="get" action="/getNombre">
    <input type="text"  name="namePlayer">  
    <input type="submit" value="Empezar!">
</form>
<h2>Ingrese el tama単o de la matriz</h2>

<form method="get" action="/getNombre">
   <h4>Tama単oX:</h4>  <input type="number" size="6" name="tam_x" id="tam_x">  
    <h4>Tama単oY:</h4>  <input type="number" size="6" name="tam_y" id="tam_y" > 
      <br>
      <br> 
        <input type="submit" value="ElegirTama単o">
</form>