<h2>Ingrese el nombre del jugador </h2>

<form method="get" action="/getNombre">
    <input type="text"  name="namePlayer">  
    
</form>
<h2>Ingrese el tamaño de la matriz</h2>

<form method="get" action="/getNombre">
   <h4>TamañoX:</h4>  <input type="number" size="6" name="tam_x" id="tam_x">  
    <h4>TamañoY:</h4>  <input type="number" size="6" name="tam_y" id="tam_y" > 
      <br>
      <br> 
      <input type="submit" value="Empezar!">
</form>