<h1>Juego Personalizado </h1>
<form method="get" action="/IniciarJuegoPersonalizado">
    
    
    <h2>Ingrese el tamaño de la matriz</h2>  
    <h4>TamañoX:</h4>  <input type="number" size="6" name="tam_x" id="tam_x" required>  
    <h4>TamañoY:</h4>  <input type="number" size="6" name="tam_y" id="tam_y" required> 
      <br>
      <br> 
      <input type="submit" value="Empezar!">
</form>
<br>
<br>
<h1>Juego Estatico </h1>
<form method="get" action="/IniciarJuegoEstatico">
    
    <input type="submit" value="Empezar!">
</form>