<html>
  <body>
  <head>
  <style>
  #css
  <%=@casillaDesbloqueada%>{
    background :gray;
    color: white;
  }

  </style>
 <script>
 function CambioColor(num) {
   document.getElementById(num).style.background="grey";
 }
 </script>
  </head>
  <body>
    <h1>JUGADOR: <%=@@namePlayer%></h1>
   
    <form method="get" action="/reiniciar" >
   <input type="submit" value="Reiniciar!">
    </form>
    MostrarTablero: <%=@tableroHTML%>
    <br>
    <br>

    <br>
    <form action="/elegirCasillas" >
    
      <h4>X:</h4>  <input type="number" size="6" name="coord_x" id="coord_x">  

      <h4>Y:</h4>  <input type="number" size="6" name="coord_y" id="coord_y" > 
      <br>
      <br> 
        <input type="submit" value="MarcarCasilla!">
    </form>
   
  </body>
</html>